{% load staticfiles %}

<html>
  <head>
    <link rel="shortcut icon" href="{% static 'favicon.png' %}"/>
    <link rel='stylesheet' type='text/css' href='{% static 'normalize.css/normalize.css' %}' />
    <link rel='stylesheet' type='text/css' href='{% static 'quote.css' %}'/>

  </head>
  <body>

    <div class='wrapper'>
      <div class='quote'>
        <img src='{% static "willRogers.jpg" %}' />
        <h1>{{ quote.text }}</h1>
        <div class='attribution'>―{{ quote.attribution }}</div>
      </div>

      <div id='nextButton'></div>
    </div>

    <script src='{% static 'bundle.js' %}'></script>
  </body>
</html>
